*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
lib/head_first_design_patterns_rb/extra_credit.rb
lib/head_first_design_patterns_rb/extra_credit/**/*.rb
test/**/extra_credit/**/*.rb
